*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.shop
{
    width: 100%;
    padding: 20px 30px;
}
.shop h2
{
    text-transform: uppercase;
    font-size: 32px;
}
.shop .container
{
    max-width: 100%;
    display: flex;
    margin-top: 25px;
}
.shop .container .left_box
{
    width: 25%;
}
.shop .container .left_box .category
{
    border: 3px solid #f6f6f6;
    width: 250px;
}
.shop .container .left_box .category .header
{
    max-width: 100%;
    padding: 10px 20px;
    background: #f6f6f6;
}
.shop .container .left_box .category .header h3
{
    font-size: 16px;
    text-transform: uppercase;
}
.shop .container .left_box .category .box
{
    margin-top: 10px;
    width: 100%;
    padding: 10px 20px;
}
.shop .container .left_box .category .box ul
{
    max-width: 100%;
}
.shop .container .left_box .category .box ul li
{
    list-style: none;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}
.shop .container .left_box .category .box ul li:hover
{
    color: #0cc0df;
}
.shop .container .left_box .banner
{
    margin-top: 20px;
    width: 250px;
}
.shop .container .left_box .banner .img_box img
{
    width: 100%;
    object-fit: cover;
}
.shop .container .right_box .products_box
{
    max-width: 100%;
    padding: 10px 90px;
}
.shop .container .right_box .products_box h2
{
    text-transform: uppercase;
    font-size: 22px;
}
.shop .container .right_box .products_box .products_container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space;

}
.shop .container .right_box .products_box .products_container .box
{
    width: 320px;
    height: 470px;
    overflow: hidden;
    border: 3px solid #f6f6f6;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #f6f6f6;
}
.shop .container .right_box .products_box .products_container .box .img_box
{
    display: flex;
}
.shop .container .right_box .products_box .products_container .box .img_box img
{
    width: 293px;
    height: 279px;
    margin-top: 10px;
    object-fit: cover;
    margin-left: 10px;
    border-radius: 10px;
}
.shop .container .right_box .products_box .products_container .box .img_box .icon
{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin-top: 10px;
    margin-left: 40px;
    transition: 0.5s;
}
.shop .container .right_box .products_box .products_container .box .img_box .icon li
{
    list-style: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 10px;
    margin-top: 10px;
    background: #ffffff;
    cursor: pointer;
    transition: 0.5s;
}
.shop .container .right_box .products_box .products_container .box .img_box .icon li:hover
{
    color: #ffffff;
    background: #0cc0df;
}
.shop .container .right_box .products_box .products_container .box:hover .img_box .icon
{
    margin-left: -20px;
}
.shop .container .right_box .products_box .products_container .box .detail
{
    margin-top: 30px;
    padding: 10px 10px;
}
.shop .container .right_box .products_box .products_container .box .detail p
{
    margin-top: 10px;
}
.shop .container .right_box .products_box .products_container .box .detail .btn
{
    margin-top: 15px;
    align-items: center;
    padding: 5px 10px;
    margin-left: 27%;
    border: none;
    background: none;
    outline: none;
    background: #ffffff;
    color: #232323;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.shop .container .right_box .products_box .products_container .box .detail .btn:hover
{
    color: #ffffff;
    background: #0cc0df;
}